{% extends "layout.twig" %}

{% block content %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add new word</button>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mySettings">Settings</button>
<div id="mySettings" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<hr>


{% endblock %}

{% block scripts %}
<script src="/js/main.js"></script>
{% endblock %}
