{% if worksheet is defined %}
   {% for cat,cells in worksheet %}
        <ul class="list_word"><span style='font-weight:bold'>{{ cat }}:</span>
        {% for cell in cells %}
            <li><span class='word'>{{ cell["english"] }}</span> - {{ cell["russian"] }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>No Words
{% endif %}
