/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.block_words #button_next {
		font-size: 1em;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.bg_img_mobile {
		visibility: visible;
	}

	.bg_img_desktop {
		visibility: hidden;
		position: absolute;
	}

	.block_words {
		margin-top: 4.5em;
		top: 20%;
		left: 0%;
		right: 0%;
	}

	.block_words img {
		width: 20vw;
		height: auto;
		box-shadow: 0 1px 3px 1px #222;
}

	.words_eng {
		padding: 0.7em 0 0.3em;
		font-size: 6vw;
		letter-spacing: 2px;
		font-weight: bold;
	}
	
	.words_rus, .words_transcription {
		padding: 0;
		color: #ffa;
		font-size: 4vw;
		letter-spacing: 1px;
	}
	
	.words_transcription {
		font-size: 3vw;
		color: #ccc;
	}

	footer .text-muted {
		margin-top: 1em;
		font-size: 0.8em;
	}
	#listWords{
  		width: 98%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	#listWords{
  		max-height: 45vmax;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
