/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .block_words #button_next {
        font-size: 1em;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
    .bg_img_mobile {
        visibility: visible;
    }

    .bg_img_desktop {
        visibility: hidden;
        position: absolute;
    }

    .block_words {
        margin-top: 6em;
        top: 20%;
        left: 0%;
        right: 0%;
        padding-bottom: 4em;
    }

    .block_img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .block_words img {
        max-width: 100%;
        height: auto;
        /*box-shadow: 0 1px 3px 1px #222;*/
}

    .words_eng {
        padding: 0.5em 0 0.2em;
        font-size: 4em;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .words_rus, .words_transcription {
        padding-bottom: 0.3em;
        color: #ffa;
        font-size: 2.5em;
        letter-spacing: 1px;
    }

    .words_transcription {
        font-size: 1.5em;
        color: #ccc;
    }

    footer .text-muted {
        margin-top: 1em;
        font-size: 0.8em;
    }
    #listWords{
          width: 97%;
          max-height: 80vmax;
    }
    .block_words #button_next {
        font-size: 1.7em;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
